@import "tailwindcss";

@theme {
  --font-display: "Playfair Display", serif;
  --font-body: "Inter", sans-serif;
}

.bg-img {
    background-image: url("/image/IMG_7873.PNG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}